{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="p-4">
    <a href="{% url 'produto:listar_tabs' %}">
        <img src="https://raw.githubusercontent.com/DevTroli/servidor_estaticos/main/arrow-left.svg" class="h-16 w-16">
    </a>
</div>
<div class="max-w-md mx-auto my-24 p-8 bg-gray-800 shadow-md rounded-lg justify-center text-center items-center w-fit overflow-x-hidden">
    <header class="mb-4">
        <h2 class="text-2xl font-bold text-white">Abrir Comanda</h2>
    </header>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="mb-6">
            {% render_field form.cliente_existente class="form-control" %}
            {% for error in form.cliente_existente.errors %}
                <p class="mt-1 text-sm text-red-600">{{ error }}</p>
            {% endfor %}
        </div>
        {% for field in form.visible_fields %}
                <div class="mb-4 text-black">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-300 mb-2">{{ field.label }}</label>
                    {% render_field field class="form-control text-black p-1.5 rounded-md" %}
                    {% for error in field.errors %}
                        <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                </div>
        {% endfor %}
        <div class="">
            <button type="submit" class="p-4 mt-2 bg-blue-600 hover:bg-blue-800 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Abrir Comanda
            </button>
        </div>
    </form>
</div>
{% endblock %}