<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/DevTroli/servidor_estaticos/main/icon.svg">
  <title>Gonzaguinha: Conveniências | Mercearia | Tabacaria em São Vicente</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap">



  <!-- Font-awesome (optional) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- {% block css %}{% endblock css %} -->
<style>
  * {
  font-family: 'Inknut Antiqua', serif;
  resize: none;
}
  body{
  background-color: rgb(17 24 39);
  color: white
}

  .ok{
  color: #84cc16;
}

  .no{
  color: #dc2626;
}

/* Estilo personalizado para o dropdown */
.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}
        /* Assegura que o dropdown fique acima de outros elementos */
#dropdownNavbar {
    z-index: 9999; 
}/* Ajuste conforme necessário */

.form-control {
            resize: none; /* Desativa o redimensionamento do textarea */
        }

.opacity-0 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

</style>
</head>

<body>
  {% if messages %}
  {% if messages %}
    <div id="notification-container"class="fixed bottom-4 right-4 space-y-4 w-96"><ul id="message-list" class="space-y-4">
            {% for message in messages %}
                <li class="flex items-center p-6 rounded-lg shadow-lg bg-gray-700 {{ message.tags|default:'bg-gray-700 text-white' }} transition-all duration-300 ease-in-out transform {{ message.tags }}-notification">
                    {% if message.tags == 'success' %}
                        <svg class="w-8 h-8 text-green-400 mr-3"fill="none"stroke="currentColor"viewBox="0 0 24 24"xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                    {% elif message.tags == 'error' %}
                        <svg class="w-8 h-8 text-red-400 mr-3"fill="none"stroke="currentColor"viewBox="0 0 24 24"xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                    {% elif message.tags == 'info' %}
                        <svg class="w-8 h-8 text-blue-400 mr-3"fill="none"stroke="currentColor"viewBox="0 0 24 24"xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1M12 6h.01"></path></svg>
                    {% endif %}
                    <spanclass="text-lg font-semibold">{{ message }}</span></li>
            {% endfor %}
        </ul>
      </div>
{% endif %}

{% endif %}

  {% block content %}{% endblock content %}

  {% block js %}
  <script>
document.addEventListener('DOMContentLoaded', function () {
    // Toggle dropdown menu
    const dropdownToggle = document.querySelector('[data-dropdown-toggle="dropdownNavbar"]');
    const dropdownMenu = document.getElementById('dropdownNavbar');
    
    if (dropdownToggle) {
        dropdownToggle.addEventListener('click', function () {
            dropdownMenu.classList.toggle('hidden');
        });
    }
    
    // Toggle mobile menu
    const navbarToggle = document.getElementById('navbar-toggle');
    const navbarDropdown = document.getElementById('navbar-dropdown');
    
    if (navbarToggle && navbarDropdown) {
        navbarToggle.addEventListener('click', function () {
            navbarDropdown.classList.toggle('hidden');
        });
    }
    
    // Close menus when clicking outside
    document.addEventListener('click', function (event) {
        if (navbarToggle && !navbarToggle.contains(event.target) && !navbarDropdown.contains(event.target)) {
            navbarDropdown.classList.add('hidden');
        }
        if (dropdownToggle && !dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
});

// Messages error & success
document.addEventListener('DOMContentLoaded', function() {
  const messagesContainer = document.getElementById('messages');

  if (messagesContainer && messagesContainer.children.length > 0) {
    const messages = messagesContainer.querySelectorAll('li');
    messages.forEach(function(message) {
      const type = message.getAttribute('data-type');
      const text = message.innerText;

      if (type === 'success') {
        alert(`Success: ${text}`);
      } else if (type === 'error') {
        alert(`Error: ${text}`);
      } else {
        alert(`Info: ${text}`);
      }
    });
  }
});

document.addEventListener('DOMContentLoaded', function() {
        const notifications = document.querySelectorAll('#message-list li');
        notifications.forEach(notification => {
            setTimeout(() => {
                notification.classList.add('opacity-0');
            }, 5000); // 5000ms = 5 segundos
        });
    });
    </script>
  {% endblock js %}
</body>

</html>
