{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="w-full p-4 bg-gray-800 rounded-lg shadow-xl">
    <!-- Cabeçalho com informações da tab -->
    <div class="mb-6 p-2">
        <div class="flex justify-between gap-x-8 md:gap-x-2 lg:gap-x-0 ">
            <a href="{% url 'produto:listar_tabs' %}" class="hover:opacity-95 transition-opacity">
                <img src="https://raw.githubusercontent.com/DevTroli/servidor_estaticos/main/arrow-left.svg" class="h-8 w-8" alt="Voltar">
            </a>
            <h2 class="md:text-2xl lg:text-3xl text-lg font-semibold lg:font-bold text-gray-200 mb-2.5">Detalhes da comanda</h2>
        </div>
        <div class="bg-gray-700 p-4 rounded-lg shadow-md lg:flex lg:flex-row md:flex md:flex-row lg:justify-between md:justify-between flex flex-col text-center">
            <p class="text-lg text-gray-300"><strong>Cliente:</strong> {{ tab.nome_cliente }}</p>
            <p class="text-lg text-gray-300"><strong>Subtotal:</strong> R$ {{ tab.subtotal|floatformat:2 }}</p>
            <p class="text-lg text-gray-300"><strong>Telefone:</strong> {{ tab.telefone_cliente }}</p>
        </div>
    </div>

<!-- Formulário para Editar Informações da Comanda -->
    <div class="bg-gray-700 p-4 rounded-lg shadow-md mb-6">
        <h3 class="text-2xl font-semibold text-gray-200 mb-4">Editar Comanda</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                {{ edit_form.nome_cliente.label_tag }}
                {{ edit_form.nome_cliente|add_class:"form-input" }}
            </div>
            <div class="mb-4">
                {{ edit_form.telefone_cliente.label_tag }}
                {{ edit_form.telefone_cliente|add_class:"form-input" }}
            </div>
            <button type="submit" class="w-full py-2 px-6 bg-green-800 hover:bg-green-900 text-gray-100 font-semibold rounded-lg shadow-md">
                Atualizar Informações
            </button>
        </form>
    </div>

    <!-- Formulário para Adicionar Item -->
        <div class="bg-gray-800 rounded-lg shadow-xl p-6 mb-6">
            <h3 class="text-2xl font-semibold text-gray-200 mb-4">Adicionar Item</h3>
            <form method="POST">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div class="bg-gray-700 p-4 rounded-lg">
                        {{ item_form.quantidade.label_tag }}
                        {{ item_form.quantidade }}
                    </div>
                    <div class="bg-gray-700 p-4 rounded-lg">
                        {{ item_form.codigo_barra.label_tag }}
                        {{ item_form.codigo_barra|add_class:"autofocus" }}
                    </div>
                    <div class="bg-gray-700 p-4 rounded-lg">
                        {{ item_form.nome_produto.label_tag }}
                        {{ item_form.nome_produto }}
                    </div>
                </div>
                <button type="submit" class="mt-4 w-full py-2 px-6 bg-blue-800 hover:bg-blue-900 text-gray-100 font-semibold rounded-lg shadow-md">
                    Adicionar Produto
                </button>
            </form>
        </div>
    
        <!-- Lista de Itens da Comanda -->
        <div class="bg-gray-800 rounded-lg shadow-xl p-6">
            <div class="lg:flex md:flex flex-row justify-between  items-center text-align mb-4">
                <h3 class="text-2xl font-semibold text-gray-200">Pedidos por: {{ tab.nome_cliente }}</h3>
                <!-- Fechar Tab -->
                <button type="submit" class="p-2.5 text-center lg:mt-0 md:mt-0 mt-4">
                    <a href="{% url 'produto:fechar_tab' tab.pk %}"
                       class="btn bg-amber-500 text-white p-2 rounded-md shadow-md hover:bg-amber-500 transition-all
                       {% if tab.subtotal == 0 %} opacity-50 pointer-events-none {% endif %}">
                       Fechar Comanda
                    </a>
                </button> 
            </div>
            <ul class="bg-gray-700 p-4 rounded-lg space-y-4">
                {% for item in itens %}
                <li class="lg:flex md:flex lg:flex-row md:flex-row items-center justify-between flex flex-col p-4 bg-gray-600 rounded-lg shadow-md gap-y-2.5">
                    <div>
                        <span class="font-semibold">{{ item.quantidade }}x {{ item.produto.produto }}</span>
                        <span class="text-gray-300">R$ {{ item.subtotal|floatformat:2 }}</span>
                    </div>
                    <div>
                        <span class="text-gray-400">
                            {{ item.adicionado_por.username }}
                        </span>
                    </div>
                    <div class="space-x-2 flex">
                        <!-- Atualizar Quantidade -->
                        <form method="POST" action="{% url 'produto:atualizar_quantidade_item' item.id %}">
                            {% csrf_token %}
                            <div class="flex items-center text-center ">
                                <input type="number" name="nova_quantidade" value="{{ item.quantidade }}" min="1" class="text-black w-12 p-1 border border-gray-500 rounded-md">
                                <button type="submit" class="p-1.5 bg-transparent text-amber-400 font-semibold rounded-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36" viewBox="0 0 48 48">
                                    <path fill="#ff6f02" d="M31 7.002l13 1.686L33.296 19 31 7.002zM17 41L4 39.314 14.704 29 17 41z"></path><path fill="#ff6f00" d="M8 24c0-8.837 7.163-16 16-16 1.024 0 2.021.106 2.992.29l.693-3.865C26.525 4.112 25.262 4.005 24 4.005c-11.053 0-20 8.947-20 20 0 4.844 1.686 9.474 4.844 13.051l3.037-2.629C9.468 31.625 8 27.987 8 24zM39.473 11.267l-3.143 2.537C38.622 16.572 40 20.125 40 24c0 8.837-7.163 16-16 16-1.029 0-2.033-.106-3.008-.292l-.676 3.771c1.262.21 2.525.317 3.684.317 11.053 0 20-8.947 20-20C44 19.375 42.421 14.848 39.473 11.267z"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                        <!-- Remover Produto -->
                        <form method="POST" action="{% url 'produto:remover_item_comanda' item.id %}" class="inline">
                            {% csrf_token %}
                            <button type="submit" class="p-1.5 bg-transparen text-red-200 font-semibold rounded-lg">
                                <svg fill="#d92626" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 457.503 457.503" xml:space="preserve" stroke="#d92626">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <g>
                                            <g>
                                                <path d="M381.575,57.067h-90.231C288.404,25.111,261.461,0,228.752,0C196.043,0,169.1,25.111,166.16,57.067H75.929 c-26.667,0-48.362,21.695-48.362,48.362v4.837h402.37v-4.837C429.936,78.762,408.241,57.067,381.575,57.067z M218.629,30.746h20.246c13.56,0,25.478,7.173,31.881,18.321h-83.987C193.151,37.919,205.069,30.746,218.629,30.746z"></path>
                                                <path d="M21.72,137.011l30.83,283.672c2.704,24.883,24.017,43.652,49.029,43.652h254.346c25.011,0,46.325-18.769,49.029-43.652 l30.83-283.672H21.72z M150.054,380.234c-0.628,8.986-8.434,15.654-17.419,15.654c-0.406,0-0.814-0.014-1.226-0.043 c-9.619-0.673-16.947-8.965-16.274-18.583l17.043-243.429c0.673-9.619,8.962-16.946,18.583-16.274 c9.619,0.673,16.947,8.965,16.274,18.583L150.054,380.234z M241.752,373.573c0,9.736-7.889,17.626-17.626,17.626 c-9.736,0-17.626-7.889-17.626-17.626V169.256c0-9.736,7.889-17.626,17.626-17.626c9.736,0,17.626,7.889,17.626,17.626V373.573z M342.2,377.845c-0.406,0.029-0.814,0.043-1.226,0.043c-8.985,0-16.791-6.668-17.419-15.654l-17.043-243.429 c-0.673-9.618,6.656-17.91,16.274-18.583c9.637-0.658,17.91,6.656,18.583,16.274l17.043,243.429 C359.147,368.88,351.819,377.172,342.2,377.845z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </form>
                    </div>
                </li>
                {% empty %}
                <li class="text-gray-400 text-center">Nenhum item adicionado ainda.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
