{% extends "base.html" %} {% load widget_tweaks %} {% block content %}
<div class="w-full max-w-md mx-auto mt-4 p-6 bg-gray-800 shadow-md rounded-lg">
    <header class="mb-6 flex justify-between items-center">
        <h2 class="text-xl font-bold text-white">Adicionar Produto</h2>
    </header>

    <form method="post" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}
        <div
            id="drop-area"
            class="flex flex-col justify-center items-center border-4 border-dashed border-gray-600 p-6 rounded-md bg-gray-700"
        >
            <p class="text-white mb-4">
                Arraste e solte o arquivo CSV ou XLSX aqui, ou clique para
                selecionar
            </p>
            <input id="file-input" name="myfile" type="file" class="hidden" />
            <button
                type="button"
                onclick="document.getElementById('file-input').click()"
                class="inline-flex items-center px-6 py-3 bg-blue-600 hover:bg-blue-800 text-white text-sm font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-300 ease-in-out transform hover:scale-105"
            >
                <span class="fa fa-upload mr-2" aria-hidden="true"></span>
                Selecionar Arquivo
            </button>
        </div>

        <div class="flex justify-end">
            <button
                type="submit"
                class="inline-flex items-center px-6 py-3 bg-green-600 hover:bg-green-800 text-white text-sm font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transition duration-300 ease-in-out transform hover:scale-105"
            >
                <span class="fa fa-save mr-2" aria-hidden="true"></span>
                Importar
            </button>
        </div>
    </form>
</div>

<script>
    // JavaScript para suporte ao recurso de arrastar e soltar arquivos
    const dropArea = document.getElementById("drop-area");
    const fileInput = document.getElementById("file-input");

    // Prevenir comportamentos padrão de arrastar e soltar
    ["dragenter", "dragover", "dragleave", "drop"].forEach((eventName) => {
        dropArea.addEventListener(eventName, preventDefaults, false);
        document.body.addEventListener(eventName, preventDefaults, false);
    });

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    // Realçar a área de arrastar e soltar ao arrastar
    ["dragenter", "dragover"].forEach((eventName) => {
        dropArea.addEventListener(eventName, highlight, false);
    });

    ["dragleave", "drop"].forEach((eventName) => {
        dropArea.addEventListener(eventName, unhighlight, false);
    });

    function highlight(e) {
        dropArea.classList.add("border-blue-500");
    }

    function unhighlight(e) {
        dropArea.classList.remove("border-blue-500");
    }

    // Manusear arquivos ao soltar
    dropArea.addEventListener("drop", handleDrop, false);

    function handleDrop(e) {
        let dt = e.dataTransfer;
        let files = dt.files;

        handleFiles(files);
    }

    function handleFiles(files) {
        fileInput.files = files;
    }
</script>

{% endblock content %}
