{% extends "base.html" %}

{% block content %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full p-1">
  {% if object_list %}
    <table class="w-full text-sm text-left rtl:text-right text-gray-400 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="text-center px-2 py-3 border-r border-gray-600">Nivel do Estoque</th>
              <th scope="col" class="px2.5 py-3 border-r border-gray-600">Produto</th>
              <th scope="col" class="px-2.5 py-3 border-r border-gray-600">Preço custo</th>
              <th scope="col" class="px-2.5 py-3 border-r border-gray-600">Preço Venda</th>
              <th scope="col" class="px-2.5 py-3 border-r border-gray-600">Estoque</th>
              <th scope="col" class="px-2.5 py-3 border-r border-gray-600">Estoque Mínimo</th>
              <th scope="col" class="px-2.5 py-3">NCM</th>
          </tr>
      </thead>
      <tbody>
          {% for object in object_list %}
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 hover:bg-blue-100 dark:hover:bg-gray-600/70 border-b dark:border-gray-700">
              <td class="px-2 py-4 text-center">
                  {% if object.nivel_estoque %}
                    <i class="fa fa-check-circle ok"></i>
                  {% else %}
                    <i class="fa fa-minus-circle no "></i>
                  {% endif %}
              </td>
              <td class="p-4">
                <a href="{{ object.get_absolute_url }}">{{ object.produto }}</a>
              </td>
              <td class="p-6">R$ <span class="">{{ object.preco_custo }}</span></td>
              <td class="p-6">R$ <span class="">{{ object.preco_venda }}</td>
              <td class="p-8">{{ object.estoque }}</td>
              <td class="p-8">{{ object.estoque_minimo }}</td>
              <td class="p-2">{{ object.ncm }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Sem itens cadastrados</p>
  {% endif %}
</div>
{% endblock content %}
