{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include "includes/nav.html" %}
<div class="h-fit w-full flex flex-col items-center justify-center bg-gray-900 text-gray-400 my-4 p-4">
    <div class="w-full p-6 bg-gray-800 rounded-lg shadow-lg">

        <div class="w-full p-4 bg-gray-800 rounded-lg shadow-xl">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Formulário para Adicionar Item -->
                <form method="POST" class="mb-6">
                    {% csrf_token %}
                    <h3 class="text-2xl font-semibold mb-4 text-gray-200">Adicionar Item</h3>
                    <div class="bg-slate-600 p-6 rounded-lg shadow-md text-slate-200">
                        <!-- Campo de quantidade -->
                        <div>
                            {{ item_form.quantidade.label_tag }}
                            {{ item_form.quantidade }}
                        </div>
                        <!-- Container para alinhar os dois campos lado a lado -->
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                            <div>
                                {{ item_form.codigo_barra.label_tag }}
                                {{ item_form.codigo_barra|add_class:"autofocus" }}
                            </div>
                            <div>
                                {{ item_form.nome_produto.label_tag }}
                                {{ item_form.nome_produto }}
                            </div>
                        </div>
                        <button type="submit" name="add_item" class="w-full mt-4 py-2 px-6 bg-blue-800 hover:bg-blue-900 text-gray-100 font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">ADICIONAR PRODUTO</button>
                    </div>
                </form>
                <!-- Formulário para Finalizar Compra -->
                <form method="POST" id="finalizarCompraForm">
                    {% csrf_token %}
                    <h3 class="text-2xl font-semibold mb-4 text-gray-200">Finalizar Compra</h3>
                    <div class="bg-gray-700 p-6 rounded-lg shadow-md text-white">
                        <div class="flex justify-end items-center mt-4">
                            {{ compra_form.metodo_pagamento }}
                            <button id="openCalcModal" type="button" class="bg-amber-500 p-2 rounded" style="display: none;">
                                <i class="fas fa-calculator"></i>
                            </button>
                        </div>
                        <h2 class="text-3xl font-bold mt-6 mb-2 text-gray-100">
                            Subtotal: R$ <span id="subtotal">{{ subtotal|floatformat:2 }}</span>
                        </h2>
                        <button type="submit" id="fecharVendaBtn" class="w-full mt-6 py-2 px-6 bg-amber-500 hover:bg-amber-600 text-gray-100 font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" disabled>FECHAR VENDA</button>
                    </div>
                </form>


            </div>
        </div>

        <!-- Itens no Checkout -->
        <div class="flex justify-between items-center">
            <h3 class="text-2xl font-semibold mb-4 text-gray-100 mt-2">Itens no Checkout</h3>
            <form method="POST" action="{% url 'produto:clear_checkout' %}" class="inline">
                {% csrf_token %}
                <input type="hidden" name="produto_id" value="{{ item.produto_id }}">
                <button type="submit" class="py-1 px-3 bg-red-600 hover:bg-red-700 text-gray-100 font-semibold rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">LIMPAR</button>
            </form>
        </div>

        <div class="overflow-x-auto bg-gray-700 p-6 rounded-lg shadow-md">
            <table class="w-full text-center bg-gray-800 text-gray-100 border-separate border-spacing-0">
                <thead class="bg-gray-600">
                    <tr>
                        <th class="py-2 px-2 border-b border-gray-500 items-center">Nome</th>
                        <th class="py-3 px-4 border-b border-gray-500 items-center">Quantidade</th>
                        <th class="py-3 px-4 border-b border-gray-500 items-center">Preço Unitário</th>
                        <th class="py-3 px-4 border-b border-gray-500 items-center">Remover Produto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in itens %}
                    <tr class="bg-gray-800 hover:bg-gray-700">
                        <td class="py-3 px-4 border-b border-gray-600 items-center">{{ item.nome }}</td>
                        <td class="py-3 px-4 border-b border-gray-600 items-center">{{ item.quantidade }}</td>
                        <td class="py-3 px-4 border-b border-gray-600 items-center">R$ {{ item.preco_unitario|floatformat:2 }}</td>
                        <td class="py-3 px-4 border-b border-gray-600 items-center">
                            <form method="POST" action="{% url 'produto:remove_item' %}" class="inline">
                                {% csrf_token %}
                                <input type="hidden" name="produto_id" value="{{ item.produto_id }}">
                                <button type="submit" class="py-1 px-3 bg-transparent text-gray-100 font-semibold rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                                    <svg fill="#d92626" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 457.503 457.503" xml:space="preserve" stroke="#d92626">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                        <g id="SVGRepo_iconCarrier">
                                            <g>
                                                <g>
                                                    <path d="M381.575,57.067h-90.231C288.404,25.111,261.461,0,228.752,0C196.043,0,169.1,25.111,166.16,57.067H75.929 c-26.667,0-48.362,21.695-48.362,48.362v4.837h402.37v-4.837C429.936,78.762,408.241,57.067,381.575,57.067z M218.629,30.746h20.246c13.56,0,25.478,7.173,31.881,18.321h-83.987C193.151,37.919,205.069,30.746,218.629,30.746z"></path>
                                                    <path d="M21.72,137.011l30.83,283.672c2.704,24.883,24.017,43.652,49.029,43.652h254.346c25.011,0,46.325-18.769,49.029-43.652 l30.83-283.672H21.72z M150.054,380.234c-0.628,8.986-8.434,15.654-17.419,15.654c-0.406,0-0.814-0.014-1.226-0.043 c-9.619-0.673-16.947-8.965-16.274-18.583l17.043-243.429c0.673-9.619,8.962-16.946,18.583-16.274 c9.619,0.673,16.947,8.965,16.274,18.583L150.054,380.234z M241.752,373.573c0,9.736-7.889,17.626-17.626,17.626 c-9.736,0-17.626-7.889-17.626-17.626V169.256c0-9.736,7.889-17.626,17.626-17.626c9.736,0,17.626,7.889,17.626,17.626V373.573z M342.2,377.845c-0.406,0.029-0.814,0.043-1.226,0.043c-8.985,0-16.791-6.668-17.419-15.654l-17.043-243.429 c-0.673-9.618,6.656-17.91,16.274-18.583c9.637-0.658,17.91,6.656,18.583,16.274l17.043,243.429 C359.147,368.88,351.819,377.172,342.2,377.845z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="calcModal" class="fixed inset-0 flex items-center justify-center hidden bg-gray-600 bg-opacity-50">
    <div class="bg-gray-800 p-4 rounded-lg shadow-lg w-96 mx-2.5">
        <div class="flex justify-between items-center">
            <h2 class="text-lg font-bold mb-4">Calcular Troco</h2>
            <button id="closeCalcModal" class="text-red-500 hover:text-red-700 focus:outline-none text-2xl font-bold mb-4">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="mb-4 items-center text-center">
            <label for="valorCompra" class="block text-md font-medium text-white">Valor da Compra:</label>
            <input id="valorCompra" type="text" class="bg-transparent mx-auto m-1.5 block w-12 border-gray-300 rounded-md shadow-sm text-white font-bold" placeholder="0,00">
        </div>
        <div class="mb-4 items-center text-center">
            <label for="valorEntregue" class="block text-ms font-medium text-white">Valor Entregue:</label>
            <input id="valorEntregue" type="text" class="bg-transparent mx-auto m-1.5 block w-12 border-gray-300 rounded-md shadow-sm text-white font-bold " placeholder="0,00">
        </div>
        <div class="mb-4 items-center text-center">
            <label for="valorTroco" class="block text-md font-medium text-white">Troco:</label>
            <input id="valorTroco" type="text" class="bg-transparent mx-auto m-1.5 block w-16 border-gray-300 rounded-md shadow-sm text-white font-bold" readonly>
        </div> 
    </div>
</div>
{% endblock %}
