{% extends "base.html" %}

{% block content %}

<header class="mb-6 flex justify-between items-center">
  <h2 class="text-2xl font-bold">Estoque de Entrada</h2>
  <a href=#
    class="inline-flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors duration-300">
    <span class="fa fa-plus mr-2" aria-hidden="true"></span>
    <span>Adicionar</span>
  </a>
</header>

{% if object_list %}
<table class="min-w-full bg-white">
  <thead>
    <tr class="w-full bg-gray-800 text-white">
      <th class="py-2 px-4 border-b">Item</th>
      <th class="py-2 px-4 border-b">NF</th>
      <th class="py-2 px-4 border-b">Data</th>
      <th class="py-2 px-4 border-b">Funcionário</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr class="hover:bg-gray-100">
      <td class="py-2 px-4 border-b">
        <a href="#" class="text-blue-500 hover:underline">{{ object }}</a>
      </td>
      <td class="py-2 px-4 border-b">{{ object.nf_formated }}</td>
      <td class="py-2 px-4 border-b">{{ object.created }}</td>
      <td class="py-2 px-4 border-b">{{ object.funcionario.first_name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="p-4 bg-yellow-200 text-yellow-800 rounded">Sem itens na lista.</p>
{% endif %}

{% endblock content %}
