{% extends "base.html" %}

{% block content %}
{% include "includes/nav.html" %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full p-4 items-center">
    <header class="mb-6 flex justify-between items-center">
        <h2 class="text-2xl font-bold">Importar Produtos</h2>
    </header>
    <form method="POST" enctype="multipart/form-data" action="{% url 'produto:import_data' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="inline-flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors duration-300">
            Upload
        </button>
    </form>
    {% if messages %}
    <ul class="mt-4">
        {% for message in messages %}
        <li class="text-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}
